.code {
    border: 1px solid;
    width: 524px;
    height: 546.09px;
    top: 1591px;
    left: 334px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
    margin-left: 570px;
    margin-top: 50px;



}